body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.flex {
  display: flex;
}

.ozel-renk {
  background-color: rgb(227, 98, 0);
}

.side-bar-nav > ul > li {
  list-style-type: none;
}

.side-bar-nav > ul > li > a {
  display: block;
}

.nav-btn-active {
  background-color: #fff !important;
  color: #0d6efd !important;
}

.header {
  background-color: #333;
  color: #fff;
}

.login-form {
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.25);
}
.products-container {
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-top: 0.5rem;
}
.product-card {
  max-width: 20rem;
  margin: 1rem;
}

.product-card > img {
  max-width: 100%;
}

.products-container > div {
  overflow: hidden;
}
